body {
    background-color: lightblue;
    }
    
    h1 {
    color: navy;
    margin-left: 20px;
    }

.header{
    background-color: black;
    color: white;
    margin-left: 20px;
}
